.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard-container {
  display: flex;
  width: 100%;
}

.Devices-container {
  width: 50%;
  background-color: #282c34;
  margin: 5%;
}

h3 {
  margin: 0;
}

.Devices-header {
  display: flex;
  font-size: 1.5rem;
  padding: 5px;
}

.Device-container {
  display: flex;
  font-size: 1rem;
  padding: 5px;
}

.Device-container-item {
  text-align: start;
  flex: 1;
}
